node_modules
dist
.env
*.log
.DS_Store

apps/backend/.env
apps/backend/node_modules
apps/backend/dist

apps/dashboard/node_modules
apps/dashboard/dist
apps/dashboard/.env

apps/mobile/node_modules
apps/mobile/dist
apps/mobile/android
apps/mobile/ios
apps/mobile/web-build
apps/mobile/.expo
apps/mobile/.kotlin
apps/mobile/.metro-health-check
apps/mobile/.metro-health-check*
apps/mobile/.env